<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 id="title"><%= title %></h1>
    <h3 id="author">Author: Dipen Patel</h3>
      <img id="img" src="./images/angular+nodejs.png">
    <h4>*** Modules Pre-installed***</h4>
    <ol>
        <li><b>PM2</b> (pm2 start app.js -i max --watch -f)</li>
    </ol>
  </body>
</html>
